In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [1]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [24]:
#question1
y[1][1]

8

In [16]:
csv_df = pd.read_csv("C://FoodBalanceSheets.csv", encoding="latin-1")

In [18]:
csv_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [98]:
#question2
total_protein_quantity = csv_df.loc[(csv_df['Area'] == 'Madagascar') & (csv_df['Element'] == 'Protein supply quantity (g/capita/day)'), 'Y2015'].sum()
total_protein_quantity

173.04999999999998

In [45]:
#question3
missing_values = csv_df['Y2014'].isnull().sum()

# Calculate the total number of values in the 'Area' column
total_values = csv_df['Y2014'].shape[0]

# Calculate the percentage of missing values
percentage_missing = (missing_values / total_values) * 100
# Format the percentage to three decimal places
percentage_missing_formatted = round(percentage_missing, 3)

# Display the results
print("Total Missing Values:", missing_values)
print("Percentage of Missing Values:", percentage_missing_formatted)

Total Missing Values: 1589
Percentage of Missing Values: 2.607

In [46]:
#question 6
# Select columns 'Y2017' and 'Area'
selected_columns = csv_df[['Y2017', 'Area']]

# Group the selected DataFrame by 'Area' and calculate the sum for each area
sum_by_area = selected_columns.groupby('Area').sum()

# Find the area with the highest sum in 2017
area_with_highest_sum = sum_by_area['Y2017'].idxmax()

# Display the area with the highest sum in 2017
print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [52]:
#question9
grouped_data= csv_df.groupby('Element').sum()

# Get the sum of 'Processing' in 2017
sum_processing_2017 = grouped_data.loc['Processing', 'Y2017']

print("Total sum of Processing in 2017:", sum_processing_2017)

Total sum of Processing in 2017: 292836.0

In [57]:
#Question 10
# Select columns 'Y2017' and 'Area'
selected_columns = csv_df[['Y2017', 'Area']]

# Group the selected DataFrame by 'Area' and calculate the sum for each area
sum_by_area = selected_columns.groupby('Area').sum()

# Sort the sums in ascending order and find the area with the 7th lowest sum
area_with_7th_lowest_sum = sum_by_area.sort_values(by='Y2017').index[6]

# Display the area with the 7th lowest sum in 2017
print("Area with the 7th lowest sum in 2017:", area_with_7th_lowest_sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [59]:
#question11
# Filter the DataFrame for years 2015 and 2018 and select only the 'Item' and 'Y2015' columns
filtered_data = csv_df[['Item', 'Y2015', 'Y2018']]

# Group the filtered DataFrame by 'Item' and calculate the sum for each item
sum_by_item = filtered_data.groupby('Item').sum()

# Get the total sum of Wine produced in 2015 and 2018 respectively
total_sum_2015 = sum_by_item.loc['Wine', 'Y2015']
total_sum_2018 = sum_by_item.loc['Wine', 'Y2018']

# Display the results
print("Total sum of Wine produced in 2015:", total_sum_2015)
print("Total sum of Wine produced in 2018:", total_sum_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [65]:
#question12
len(csv_df.groupby('Area'))

49

In [66]:
#question13
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [73]:
#question 14
# Group the DataFrame by 'Element' and calculate the sum for each element
grouped_data = csv_df.groupby('Element').sum()

grouped_data

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [83]:
#question 15
# Calculate the correlation between 'Element Code' and each year column
correlations = csv_df.corr()['Element Code'][3:11]  # Exclude the 'Element Code' column itself
correlations

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

In [85]:
# Find the year with the least correlation
year_with_least_correlation = correlations.idxmin()
year_with_least_correlation

'Y2016'

In [86]:
#question 16
# Select only the columns for the year 2017
df_2017 = csv_df[['Y2017']]

# Calculate the mean and standard deviation for the year 2017
mean_2017 = df_2017.mean().values[0]
std_2017 = df_2017.std().values[0]

# Display the mean and standard deviation for the year 2017
print("Mean for the year 2017:", round(mean_2017, 2))
print("Standard Deviation for the year 2017:", round(std_2017, 2))

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [87]:
#question 18
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [90]:
#question 19
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']
df1= pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92