In [15]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
data = pd.read_csv(r'C:\Users\DELL\Downloads\energydata_complete.csv')
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

QUESTION 17

In [22]:
features = data['T2']
target = data['T6']

features = np.array(features).reshape(-1, 1)
target = np.array(target).reshape(-1, 1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=1)

x_train = np.array(x_train).reshape(-1, 1)
y_train = np.array(y_train).reshape(-1, 1)

linear_model = LinearRegression()

linear_model.fit(x_train, y_train)

#obtain predictions
y_pred = linear_model.predict(x_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Print the RMSE rounded to three decimal places
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 3.612

QUESTION 18

In [24]:
# Remove the specified columns from the DataFrame
columns_to_drop = ["date", "lights"]
df = data.drop(columns_to_drop, axis=1)

# Define the target variable
target = "Appliances"

# Separate the input features and the target variable
x = df.drop(target, axis=1)
y = df[target]

# Perform a train-test split with a random state of 42
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train the linear regression model
linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train)

# Make predictions on the training set
train_predictions = linear_model.predict(X_train_scaled)

# Calculate the Mean Absolute Error for the training set
mae_train = mean_absolute_error(y_train, train_predictions)

# Print the Mean Absolute Error for the training set
print(f"Mean Absolute Error (Training Set): {mae_train:.3f}")

Mean Absolute Error (Training Set): 53.741

QUESTION 19

In [25]:
# Calculate the Root Mean Squared Error for the training set
rmse_train = mean_squared_error(y_train, train_predictions, squared=False)

# Print the Root Mean Squared Error for the training set
print(f"Root Mean Squared Error (Training Set): {rmse_train:.3f}")

Root Mean Squared Error (Training Set): 95.216

QUESTION 20

In [27]:
# Make predictions on the test set
test_predictions = linear_model.predict(X_test_scaled)

# Calculate the Mean Absolute Error for the test set
mae_test = mean_absolute_error(y_test, test_predictions)

# Print the Mean Absolute Error for the test set
print(f"Mean Absolute Error (Test Set): {mae_test:.3f}")

Mean Absolute Error (Test Set): 53.641

QUESTION 21

In [28]:
# Calculate the Root Mean Squared Error for the test set
rmse_test = mean_squared_error(y_test, test_predictions, squared=False)

# Print the Root Mean Squared Error for the test set
print(f"Root Mean Squared Error (Test Set): {rmse_test:.3f}")

Root Mean Squared Error (Test Set): 93.637

QUESTION 23

In [29]:
# Create and train the Ridge regression model with default parameters
ridge_model = Ridge()
ridge_model.fit(X_train_scaled, y_train)

# Make predictions on the test set
test_predictions = ridge_model.predict(X_test_scaled)

# Calculate the RMSE for the test set
rmse_test = mean_squared_error(y_test, test_predictions, squared=False)

# Print the RMSE for the test set
print(f"Root Mean Squared Error (Test Set): {rmse_test:.3f}")

Root Mean Squared Error (Test Set): 93.709

QUESTION 24

In [31]:
# Create and train the Lasso regression model with default parameters
lasso_model = Lasso()
lasso_model.fit(X_train_scaled, y_train)

# Obtain the feature weights from the Lasso model
feature_weights = lasso_model.coef_

# Count the number of features with non-zero feature weights
non_zero_features = sum(feature_weights != 0)

# Print the number of features with non-zero feature weights
print(f"Number of features with non-zero feature weights: {non_zero_features}")

Number of features with non-zero feature weights: 4

QUESTION 25

In [32]:
# Make predictions on the test set
test_predictions = lasso_model.predict(X_test_scaled)

# Calculate the RMSE for the test set
rmse_test = mean_squared_error(y_test, test_predictions, squared=False)

# Print the RMSE for the test set
print(f"Root Mean Squared Error (Test Set): {rmse_test:.3f}")

Root Mean Squared Error (Test Set): 99.424